<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>AJB Mirror</title>

        <!-- 기본 메타 태그 -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="여러 배포판을 지원하는 리눅스 미러서버입니다.">
        <meta name="author" content="천상의나무">
        <meta name="keywords" content="ubuntu,archlinux,arch,mirror,미러,미러서버,리눅스미러,리눅스">

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/index.css">

        <!-- JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> -->
        <script src="/static/js/index.js"></script>
    </head>
    <body>
        <div class="title">
            <h1>AJB MIRROR</h1>
        </div>

        <div class="main_box">
            <div class="introduce_box">
                <h1>AJB LINUX MIRROR</h1>
                <div>
                    <a>경상북도 구미시 국립금오공과대학교 근처에서 서버를 운영하고 있습니다.</a><br>
                    <a>현재 용량 이슈로 인해 Ubuntu는 최신 LTS 배포판 두 버전만 지원하고 있습니다.</a><br>
                    <a>문제가 발생했을 경우 <a class="link" href="mailto:ajb8533296@gmail.com">ajb8533296@gmail.com</a> 으로 연락해 주세요.</a><br>
                    <a>http, rsync 프로토콜을 지원하고 있습니다.</a><br>
                    <br>
                    <a>CPU : i7 6700K</a><br>
                    <a>RAM : DDR4 16GB</a><br>
                    <a>HDD : 2TB</a><br>
                    <a>NETWORK : 1Gbps</a>
                </div>
            </div>
        </div>

        <div class="mirror_list_box">
            <table class="mirror_list">
                <thead>
                    <tr>
                        <th align="left">패키지</th>
                        <th>업데이트 상태</th>
                        <th align="right">업데이트 날짜</th>
                    </tr>
                  </thead>
            </table>
        </div>
    </body>
    <script>
        display_distro();
    </script>
</html>